<div>
  <span>Please choose corners color :</span>
</div>
<input type="color" style="margin:5px" [(ngModel)]="topLeftColor" />
<input type="color" style="margin:5px" [(ngModel)]="topRightColor" />
<br />
<input type="color" style="margin:5px" [(ngModel)]="bottomLeftColor" />
<input type="color" style="margin:5px" [(ngModel)]="bottomRightColor" />
<br />
<br />
<br />
<input type="button" value="Draw" (click)="drawGradientBackground()" />
<br />
<br />
<table border="1" cellspacing="2">
  <tr *ngFor="let gridRow of colorsGrid; let index = i">
    <td
      *ngFor="let gridcol of gridRow; let index = j"
      [style.backgroundColor]="gridcol"
      style="width:30px; height:30px;"
    ></td>
  </tr>
</table>
